ul {
  list-style: none;
  padding-left: 158px;
  padding-right: 158px;
  margin: 0;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  margin-bottom: 32px;
  gap: 8px;
}

input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: solid 1px #808080;
}
input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 16px;
}

input:hover {
  border-color: black;
}

input:active,
input:focus {
  border: 1px solid #4e75ff;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  transition: background-color 0.25 ease;
}

.btn:hover {
  background-color: #6c8cff;
}
.gallery-img {
  display: block;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}

.info {
  display: flex;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  justify-content: center;
  gap: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info-value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}

.load-more-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  display: block;
  margin: 20px auto;
  background: #4e75ff;
  border: none;
  transition: background-color 0.25 ease;
}
.load-more-btn:hover {
  background-color: #6c8cff;
}
.is-hidden {
  display: none;
}
